.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featureItem {
    position: relative;
    height: 250px;
    color: white;
    border-radius: 10px;
    flex: 1;
    overflow: hidden;
}

.featureImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featureTitles {
    position: absolute;
    bottom: 20px;
    left: 20px;
}