.navbar {
    height: 50px;
    background-color: #6d93c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-weight: 700;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background: none;
    font-weight: 500;
}

.navButton:hover {
    color: #24498f;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}